@use "_header";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");
:root {
    --primary-clr: rgba(228, 228, 229, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.album-cover {
    width: 90%;
}

.swiper {
    width: 100%;
    padding: 40px 0 100px;
}

.swiper-slide {
    position: relative;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    -webkit-box-reflect: below -5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    transform-origin: center;
    transform: perspective(800px);
    transition: 0.3s ease-out;
    pointer-events: none;
    user-select: none;
}

.lie img:hover {
    transform: rotate(180deg);
}

.swiper-slide-active img {
    transform: scale(1.5);
    margin-left: 80px;
}
section{
padding-top: 110px;
}
.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-clr);
    width: 380px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.music-player h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}

.music-player p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
}
.controls{
i{
color: black;
}
}
.dark i {
    color: white;
}
#progress {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(163, 162, 164, 0.4);
    border-radius: 4px;
    margin: 32px 0 24px;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgba(163, 162, 164, 0.9);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid var(--primary-clr);
    box-shadow: 0 6px 10px rgba(5, 36, 28, 0.3);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1/1;
    margin: 20px;
    background: rgba(163, 162, 164, 0.3);
    color: var(--primary-clr);
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    outline: 0;
    font-size: 1.1rem;
    box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
    cursor: pointer;
    transition: all 0.3s linear;
}
.dark .controls button{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.controls button:is(:hover, :focus-visible) {
    transform: scale(0.96);
}

.controls button:nth-child(2) {
    transform: scale(1.3);
}

.controls button:nth-child(2):is(:hover, :focus-visible) {
    transform: scale(1.25);
}

.loading {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 1;
    font-size: 50px;
    color: white;
    transition: 0.5s;
}

.loading-hidden {
    opacity: 0;
    z-index: -11111;
}
.music-player{
h1, p{
color: black;
font-weight: 800;
}
}
body{
overflow: hidden;
}
.dark section{
background-color: black;
color: white;
}
.dark .music-player {

    h1,
    p {
        color: white;
    }
}
@media (max-width: 790px) {

}
@media only screen and (max-width: 600px) {
.swiper-slide-active img {
        position: relative;
        right: 50px;
    }

    body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
.swiper-slide-active img {
        position: relative;
        right: 50px;
    }

    body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 1025px) {
body {
    overflow-x: hidden;
    }
}
.dark body{
white-space: darken;
}